*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: black;
}


ul{
    list-style: none;
    display: flex;
}

.logo{
    width: 82px;
    height: 62px;
    margin-left: 5px;
}

li a{
    text-decoration: none;
}

.containerNav{
    display: flex;
    margin-left: 52vw;
    margin-top: 23px;
}

div li{
    margin-left: 16px;
}

div li a{
    color: white;
}

footer{
    background-color: black;
    height: 47px;
    display: flex;
}

footer p{
    color: white;
}

.dividirFooter{
    margin-left: 65vw;
}

.containterCertificados{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px 172px;
    
}

article div img{
    width: 200px;
    height: 200px;
}

section{
    height: 100vh;
    background-image: url(https://www.shutterstock.com/image-vector/abstract-grey-background-poster-dynamic-260nw-1931327372.jpg);
    background-repeat: no-repeat;
    background-size: 100vw;
}

article h1{
    font-size: 50px;
    text-align: center;
}

.certificado{
    margin-bottom: 30px;
}

article div p{
    text-align: center;
}