*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: black;
}


ul{
    list-style: none;
    display: flex;
}

.logo{
    width: 82px;
    height: 62px;
    margin-left: 5px;
}

li a{
    text-decoration: none;
}

.containerNav{
    display: flex;
    margin-left: 52vw;
    margin-top: 23px;
}

div li{
    margin-left: 16px;
}

div li a{
    color: white;
}

footer{
    background-color: black;
    height: 47px;
    display: flex;
}

footer p{
    color: white;
}

.dividirFooter{
    margin-left: 65vw;
}


section{
    height: 100vh;
}


.containerFlex{
    display: flex;
}

.containerFlexForm{
    display: flex;
    flex-direction: column;
}

.imgRedes{
    width: 40px;
    height: 40px;
}

.containerBlock{
    display: inline-block;
    padding-top: 70px;
}

.formulario{
    margin-top: 5px;
    border-radius: 8px;
}

.botonFormulario{
    margin-top: 5px;
    background-color: rgb(211, 211, 0);
    border-radius: 10px;
    color: white;
    border-color: rgb(211, 211, 0);
}

article h3{
    margin-bottom: 5px;
    margin-top: 5px;
}