* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

section {
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(219, 219, 219) 55%, rgb(50, 50, 50) 100%);
}

li a {
  text-decoration: none;
}

footer p {
  color: white;
}

.logo {
  width: 82px;
  height: 62px;
  margin-left: 5px;
}

.marginLiNav {
  margin-left: 20px;
}

.textoIzq {
  text-align: left;
}

.textoDer {
  text-align: end;
}

main {
  height: 100%;
  width: 100%;
}

.colorMenu {
  background-color: #D1BD00;
}

.btnPortafolio, .btnEnviar {
  transition: all 400ms;
  color: black;
  border-radius: 5px;
}
.btnPortafolio:hover, .btnEnviar:hover {
  background-color: #bdaa00;
  color: black;
  transform: scale(1.1);
}
.btnPortafolio:focus, .btnEnviar:focus {
  background-color: #D1BD00;
  color: black;
}

.marginMenu {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  margin-right: 0px !important;
  margin-left: 666px !important;
}

nav div a img:hover {
  transition: all 400ms;
  transform: scale(1.1);
}

.menuColor {
  background-color: #D1BD00;
  border-radius: 5px;
}

.dropdown-menu {
  background-color: #D1BD00;
}

.displayMenuDrop {
  display: list-item;
}

.displayMenuSep {
  display: none;
  list-style: none;
}

@media (max-height: 1200px) {
  .marginMenu {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    margin-right: 0px !important;
    margin-left: 423px !important;
  }
}
@media (max-width: 991px) {
  .marginMenu {
    margin-top: auto !important;
    margin-bottom: auto !important;
    margin-right: auto !important;
    margin-left: auto !important;
  }
  .btnPortafolio, .btnEnviar {
    transition: all 0ms;
    border-radius: 5px 5px 0px 0px;
  }
  .btnPortafolio:hover, .btnEnviar:hover {
    transform: scale(1);
  }
  .marginMenu {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
  }
  .displayMenuDrop {
    display: none;
  }
  .displayMenuSep {
    display: list-item;
  }
}
.bgHamburguesa {
  background-color: #D1BD00;
}

.imgIndex {
  height: 100vh;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid black;
  padding: 0 !important;
}

.contenedorTexto {
  display: flex;
}

@media (max-width: 991px) {
  .imgIndex {
    height: 100%;
  }
}
.imgRedes {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}
.imgRedes:hover {
  transition: all 600ms;
  transform: scale(1.1);
}

.containerFormulario {
  display: block;
  height: 100vh;
}

.btnEnviar {
  width: 200px;
  height: 40px;
}

@media (max-height: 900px) {
  .containerFormulario {
    height: 100%;
  }
}
.row {
  margin-right: 0px !important;
}

.containterPorta {
  height: 100%;
}

.containterCert {
  height: 100vh;
}

article div div img {
  padding: 3px;
}

.imgCard {
  margin: auto;
  border-radius: 5px;
  width: 265px;
  height: 200px;
}

article div div div h2 {
  font-size: 25px;
}

@media (max-height: 1000px) {
  .containterPorta {
    height: 100%;
  }
}
@media (max-width: 991px) {
  .containterCert {
    height: 100%;
  }
}

/*# sourceMappingURL=estilos.css.map */
