@use "./general.scss";

.imgRedes{
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    &:hover{
        @include general.scaleTiempo(600ms);
        transform: scale(1.1);
    }
}


.containerFlex{
    display: flex;
    height: 100vh;
}

.btnEnviar{
    @extend .btnPortafolio;
    @include general.tamano(200px,40px)
}

@media (max-width: 991px){
    .containerFlex{
        display: block;
    }
    .marginTop{
        @include general.margin(120px,auto,auto,auto)
    }
    

    .marginContacto{
        @include general.margin(0px,100px,auto,auto) ;
    }

    .marginFormulario{
        @include general.margin(50px,50px,auto,auto) ;
    }
}