$font:'Roboto', sans-serif;

*{
    margin: 0;
    padding: 0;
    font-family: $font
}



section{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(219,219,219,1) 55%, rgba(50,50,50,1) 100%);
}

li{
    a{
        text-decoration: none;
    }
}

footer {
    p{
        color: white;
    }
}

.logo{
    width: 82px;
    height: 62px;
    margin-left: 5px;
}

.marginLiNav{
    margin-left: 20px;
}

.textoIzq{
    text-align: left;
}

.textoDer{
    text-align: end;
}


main{
    height: 100%;
    width: 100%;
}



.colorMenu{
    background-color: #D1BD00;
}

.bordeMenuUlt{
    @extend .colorMenu;
    border-radius: 0px 5px 5px 0px;
}

.bordeMenuMed{
    @extend .colorMenu;
    border-radius: 5px 0px 0px 5px;
}


@mixin scaleTiempo($tiempo){
    transition: all $tiempo;
}

@mixin tamano($ancho,$alto){
    width: $ancho;
    height: $alto;
}

@mixin margin($arriba,$abajo,$derecha,$izquierda){
    margin-top: $arriba !important;
    margin-bottom: $abajo !important; 
    margin-right: $derecha !important;
    margin-left: $izquierda !important;
}

.btnPortafolio{
    @include scaleTiempo(400ms);
    background-color: #D1BD00;
    color: black;
    border-radius: 5px;
    &:hover{
        background-color: #bdaa00;
        color: black;
        transform: scale(1.1);
    }

    &:focus{
        background-color: #D1BD00;
        color: black;
    }
}

.btnMenuDer{
    @include scaleTiempo(400ms);
    color: black;
    &:hover{
        background-color: #bdaa00;
        color: black;
        border-radius: 5px;
        transform: scale(1.1);
    }
    &:focus{
        @extend .colorMenu;
        color: black;
    }
}

.dropdown-menu{
    background-color: #D1BD00;
}

.dropdown-item{
    @include scaleTiempo(200ms);
    color: black;
    &:hover{
        background-color: #bdaa00;
        color: black;
        transform: scale(1.1);
        
    }
    &:focus{
        background-color: #D1BD00;
        color: black;
    }
}

.marginMenu{
    @include margin(0px,0px,0px,666px)
}

@media (max-height: 768px){
    .marginMenu{
        @include margin(0px,0px,0px,423px)
    }
}


@media (max-width: 991px){
    .marginMenu{
        @include margin(auto,auto,auto,auto)
    }

    .btnPortafolio{
        border-radius: 5px 5px 0px 0px;
    }

    .bordeMenuUlt{
        border-radius: 0px 0px 5px 5px;
    }

    .bordeMenuMed{
        border-radius: 0px;
    }

    .marginMenu{
        @include margin(0px,0px,0px,0px)
    }

    .dropdown-menu{
        border-radius: 0px;
        margin: 0px !important;
        background-color: rgb(193, 193, 2);;
    }
}

nav{
    div{
        a{
            img{
                &:hover{
                    @include scaleTiempo(400ms);
                    transform: scale(1.1);
                }
            }
        }
    }
}