@use "./general.scss";

.row{
    margin-right: 0px !important;
}

.containterPorta{
    height: 100%;
}

.containterCert{
    height: 100vh;
}

article{
    div{
        div{
            img{
                padding: 3px;
            }
        }
    }
}

.imgCard{
    margin: auto;
    border-radius: 5px;
    @include general.tamano(265px,200px)
}

article{
    div{
        div{
            div{
                h2{
                    font-size: 25px;
                }
            }
        }
    }
}

@media  (max-height: 1000px) {
    .containterPorta{
        height: 100%;
    }
}

@media (max-width: 991px) {
    .containterCert{
        height: 100%;
    }
}
